@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

header {
  padding-top: 35px;
  min-height: 100vh;
  background: url("./img/firstjpg.jpg") center center/cover no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}

.menu__logo {
  width: 160px;
  height: 65px;
  object-fit: contain;
  cursor: pointer;
}

.menu__tree {
  display: none;
  width: 26.24px;
  height: 2px;
  background: #ffffff;
  margin-bottom: 2px;
}

.menu__items {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s all;
}

.menu__link:hover {
  text-shadow: 0 0 20px #fff;
}

.open__title {
  letter-spacing: 5px;
  margin-top: 122px;
  font-weight: 400;
  font-size: 50px;
  line-height: 67px;
  color: #ffffff;
  width: 962px;
}

.open__subtitle {
  margin-top: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.open__form {
  margin-top: 90px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.open__form-block {
  border-bottom: 2px solid #bfc0c5;
  width: 393px;
}

.open__form-block-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cirlce {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 2px solid #ffffff;
}

.open__label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.open__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 52px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background: #1b7dff;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}

.open__btn:hover {
  box-shadow: 0 0 20px #2f13e1;
}

input {
  width: 40%;
  margin-top: 5px;
  margin-left: 235px;
  margin-bottom: 5px;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 1px 5px;
  color: #fff;
}

.advantages__block {
  margin-top: -130px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 42px 40px 41px 80px;
  margin-bottom: 144px;
}

.advantages__title {
  font-weight: 400;
  font-size: 35px;
  color: #000000;
  text-align: start;
}

.advantages__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advantages__item {
  width: 317px;
  transition: all 0.4s;
  /* border-radius: 20px; */
}

.advantages__item:hover {
  background-color: #cccccc37;
}

.advantages__subtitle {
  margin-top: 37px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.advantages__des {
  margin-top: 26px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.imagination {
  height: 750px;
  transition: all 0.5s;
}

.imagination__line {
  height: 3px;
  width: 255px;
  margin-top: 14px;
  background-color: #006dfe;
  display: block;
}

.imagination__wrapper {
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 13px;
}

.imagination__wrapper-block {
  display: grid;
  /* grid-template: 347px / repeat(2, 577px); */
  grid-template: 347px / 584px 589px;
  column-gap: 13px;
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* column-gap: 13px; */
}

.imagination__wrapper-block-2 {
  display: grid;
  grid-template: 283px / repeat(3, 391px);
  column-gap: 7px;
}

.imagination__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.present {
  margin-top: 140px;
  min-height: 354px;
  transition: all 0.5s;
}

.present__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 128px;
}

.present__img {
  max-width: 597px;
  max-height: 354px;
}

.present__block {
  display: flex;
  flex-direction: column;
}

.present__title {
  font-weight: 500;
  font-size: 30px;
  color: #102746;
}

.present__des {
  margin-top: 63px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}

.recomendation {
  margin-top: 140px;
  min-height: 583px;
  transition: all 0.5s;
}

.recomendation__title {
  font-weight: 400;
  font-size: 35px;
  color: #000000;
}

.recomendation__wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.recomendation__item {
  width: 361px;
  height: 377px;
  z-index: -10;
}

.recomendation__block {
  position: relative;
  max-width: 361px;
  max-height: 377px;
  overflow: hidden;
}

.recomendation__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.recomendation__des {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(21, 24, 36, 0.6);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5px;
  color: #ffffff;
}

.recomendation__subtitle {
  margin-top: 28px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #023a83;
}

.video {
  margin-top: 140px;
  height: 642px;
  transition: all 0.5s;
}

.ytplayer {
  height: 642px;
}

.footer {
  padding-top: 17px;
  margin-top: 140px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1d28;
}

.footer__img {
  width: 160px;
  height: 65px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper-des {
  display: flex;
  flex-direction: column;
}

.footer__roles {
  font-weight: 400;
   font-size: 18px;
  color: #FFFFFF;
  margin-top: 36px;
}

.down {
  display: none;
}

.footer__media {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 3px;
}

.footer__items {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  transition: all 0.4s;
}

.footer__link:hover {
  color: rgb(20, 209, 251);
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.stick {
  position: fixed;
  max-width: 100%;
  background: #0e1d28e9;
  padding: 10px 10px 10px 10px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100000000000000000000;
}

.nav {
  width: 100%;
}

.hamburger {
  display: none;
}

@media (max-width: 1200px) {
  /* .container {
    max-width: 960px;
  } */

  /* .nav {
  } */

  header {
    padding-top: 17px;
  }

  .stick {
    padding: 2px 10px 3px 10px;
  }

  .container {
    max-width: 720px;
  }

  .menu {
    width: 720px;
  }

  .menu__logo {
    width: 125px;
  }

  .open__title {
    width: 763px;
    margin-top: 80px;
    font-size: 45px;
    line-height: 50px;
  }

  .open__subtitle {
    margin-top: 40px;
  }

  .open__form {
    margin-top: 20px;
  }

  .open__form-block {
    margin-top: 20px;
  }

  .advantages__block {
    margin-top: -93px;
    padding: 42px 17px 41px 31px;
    margin-bottom: 70px;
  }

  .advantages__item {
    width: 180px;
  }

  .imagination__wrapper {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 13px;
  }

  .imagination__wrapper-block {
    grid-template: 250px / 360px 360px;
    column-gap: 13px;
 
  }

  .imagination__wrapper-block-2 {
    grid-template: 170px / repeat(3, 240px);
    column-gap: 7px;
  }

  .imagination {
    height: 582px;
  }

  .present {
    margin-top: 2px;
  }

  .present__img {
    max-width: 455px;
    max-height: 262px;
  }

  .present__title {
    font-weight: 500;
    font-size: 25px;
  }

  .present__des {
    margin-top: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  .present__wrapper {
    column-gap: 63px;
  }

  .recomendation {
    margin-top: -17px;
  }

  .recomendation__title {
    font-weight: 400;
    font-size: 30px;
  }

  .imagination__line {
    height: 2px;
    width: 227px;
  }

  .recomendation__wrapper {
    margin-top: 26px;
  }

  .recomendation__item {
    width: 235px;
  }

  .recomendation__des {
    height: 46px;
    font-size: 15px;
    letter-spacing: 2px;
  }

  .recomendation__subtitle {
    margin-top: 15px;
    font-size: 15px;
  }

  .video {
    margin-top: 25px;
    height: 353px;
  }
  .ytplayer {
    height: 400px;
  }

  .footer {
    height: 142px;
  }

  .footer__img {
    width: 121px;
    height: 47px;
  }

  .footer__roles {
    margin-top: 13px;
}
}

@media (max-width: 992px) {

  .container {
    max-width: 666px;
  }
  .open__title {
    width: 535px;
    margin-top: 80px;
    font-size: 40px;
    line-height: 45px;

  }

  .menu {
    width: 666px;
  }

  .menu__items {
    width: 282px;
  }

  .menu__logo {
    width: 100px;
  }

  .open__btn {
    margin-top: 20px;
  }

  .advantages__block {
    margin-top: -89px;
    padding: 17px 17px 25px 31px;
    margin-bottom: 40px;
  }

  
  input {
    margin-left: 210px;
  }
  
  .open__form-block {
    width: 350px;
  }

  .advantages__wrapper {
    align-items: start;
    justify-content: unset;
    column-gap: 30px;
  }

  .advantages__item > img {
    width: 66px;
    height: 66px;
  }

  .advantages__item {
    width: 185px;
  }

  .advantages__title {
    font-size: 30px;
  }

  .advantages__des {
    margin-top: 19px;
    font-size: 15px;
    line-height: 24px;
  }

  .advantages__subtitle {
    margin-top: 5px;
    font-size: 15px;
  }

  .imagination {
    height: 461px;
  }

  .imagination__title {
    font-size: 25px;
    font-weight: 400;
  }

  .imagination__wrapper-block {
    grid-template: 200px / 333px 333px;
  }

  .imagination__wrapper-block-2 {
    grid-template: 130px / repeat(3, 222px);
  }

  .present {
    min-height: 282px;
  }

  .present__wrapper {
    column-gap: 24px;
  } 

  .present__img {
    max-height: 230px;
  }

  .present__des {
    font-size: 12px;
    line-height: 17px;
  }

  .present__title {
    font-size: 19px;
  }

  .recomendation {
    min-height: 494px;
}

  .recomendation__title {
    font-size: 25px;
  }

  .recomendation__wrapper {
    margin-top: 20px;
  }

  .recomendation__item {
    width: 218px;
  }

  .recomendation__des {
    letter-spacing: 1px;
  }

  .recomendation__subtitle {
    margin-top: 5px;
    font-size: 14px;
  }

  .ytplayer {
    height: 346px;
  }

  .footer {
    height: 142px;
    padding-top: 0;
    margin-top: 24px;
  }

  .footer__img {
    width: 90px;
    height: 35px;
  }

  .footer__roles {
    font-size: 14px;
  }

  .footer__media {
    font-size: 16px;
  }

  .footer__link {
    font-size: 14px;
  }

}
@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }

  .menu {
    width: 500px;
  }
  
  .hamburger {
    display: block;
    /* position: absolute; */
    /* top: 50%; */
    /* right: 10px; */
    transform: translateY(-50%);
    width: 26px;
    height: 11px;
  }

  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 2px;
    background-color: #fff;
    transition: .5s all;
  }

  .hamburger_active {
    margin-bottom: -2px
  }

  .hamburger_active span:nth-child(1) {
        transform: rotate(-45deg);
        height: 0.1px;

  }
  .hamburger_active span:nth-child(2) {
    display: none;

  }

  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
    height: 0.2px

  }

 

  .menu__logo {
    width: 90px;
  }

  .menu__items {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: -200px;
    top: 66px;
    width: 25%;
    height: 20vh;
    padding: 69px 15px;
    background-color: rgba(0,0,0,.8);
    transition: .6s all;
    row-gap: 13px;
  }

  .menu__items_active {
    right: 34px;
  }

  .open__title {
    width: 429px;
    margin: 71px auto 0 auto;
    font-size: 38px;
    line-height: 40px;
  }

  .open__subtitle {
    margin-top: 31px;
    margin-left: 18px;
    font-size: 17px;
  }

  .open__form {
    margin: 20px auto;
    height: 275px;
    width: 350px;
  }

  .open__btn {
    margin-left: 70px;
  }
  
  .advantages__title {
    font-size: 27px;
    text-align: center;
  }

  .advantages__block {
    margin-top: -32px;
  }

  .advantages__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

  }

  .advantages__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }

  .advantages__des {
    text-align: center;
    margin-top: 9px;
  }

  .advantages__wrapper {
    margin-top: -5px;
  }

}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  
}

/* css - live
1200px - 992px
991px - 768px
767px - 576px
575px - 320px */